<main>
  <app-spinner [display]="display"></app-spinner>
  <app-ml-description></app-ml-description>
  <app-tabs-section></app-tabs-section>
  <app-dataset-selector (newItemEvent)="onDatasetSelect($event)"></app-dataset-selector>
  <app-query-selector *ngIf="!!selectedDataset" (newItemEvent)="onImageSelect($event)" [dataset]="dataset"></app-query-selector>
  <app-top-k-selector *ngIf="!!selectedDataset && !!imageName" (newItemEvent)="onImageSelect($event)" [dataset]="dataset"></app-top-k-selector>
  <section>
    <div class="container" *ngIf="!!selectedDataset && !!imageName && !!kVal" style="padding-bottom: 200px">
      <div class="row">
        <div class="col-lg-12" style="text-align: center">
          <button class="btn btn-1 btn-outline-success" style="font-size: 32px" (click)="search()" type="button">
            Search
          </button>
        </div>
      </div>
    </div>
</main>


<!-- </section>
<p-fileUpload
  name="demo[]"
  url="./upload.php"
  (onUpload)="onUpload($event)"
  multiple="multiple"
  accept="image/*"
  maxFileSize="1000000"
>
  <ng-template pTemplate="content">
    <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">
        {{ file.name }} - {{ file.size }} bytes
      </li>
    </ul>
  </ng-template>
</p-fileUpload> -->


<div class="container" style="text-align: center">
  <canvas
    [height]="800"
    #canvasE
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)"
    id="myCanvas"
    style="overflow: none"
    width="400"
    height="400"
  ></canvas>