<section class="section">
  <div class="container">
    <!-- Custom controls -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!-- Checkboxes -->
        <div class="mb-3">
          <small class="text-uppercase font-weight-bold">Checkboxes</small>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck1" type="checkbox">
          <label class="custom-control-label" for="customCheck1">
            <span>Unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck2" type="checkbox" checked>
          <label class="custom-control-label" for="customCheck2">
            <span>Checked</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck3" type="checkbox" disabled>
          <label class="custom-control-label" for="customCheck3">
            <span>Disabled Unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck4" type="checkbox" checked disabled>
          <label class="custom-control-label" for="customCheck4">
            <span>Disabled Checked</span>
          </label>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
        <!-- Radio buttons -->
        <div class="mb-3">
          <small class="text-uppercase font-weight-bold">Radios</small>
        </div>
        <div class="custom-control custom-radio mb-3">
          <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
          <label class="custom-control-label" for="customRadio1">
            <span>Unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-radio mb-3">
          <input name="custom-radio-1" class="custom-control-input" id="customRadio2" checked type="radio">
          <label class="custom-control-label" for="customRadio2">
            <span>Checked</span>
          </label>
        </div>
        <div class="custom-control custom-radio mb-3">
          <input name="custom-radio-2" class="custom-control-input" id="customRadio3" disabled type="radio">
          <label class="custom-control-label" for="customRadio3">
            <span>Disabled unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-radio mb-3">
          <input name="custom-radio-2" class="custom-control-input" id="customRadio4" checked disabled type="radio">
          <label class="custom-control-label" for="customRadio4">
            <span>Disabled checkbox</span>
          </label>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
        <!-- Toggle buttons -->
        <div class="mb-3">
          <small class="text-uppercase font-weight-bold">Toggle buttons</small>
        </div>
        <label class="custom-toggle">
          <input type="checkbox">
          <span class="custom-toggle-slider rounded-circle"></span>
        </label>
        <span class="clearfix"></span>
        <label class="custom-toggle">
          <input type="checkbox" checked>
          <span class="custom-toggle-slider rounded-circle"></span>
        </label>
      </div>
    </div>
  </div>
</section>
