<p-tabView (onChange)="onTabChange($event)">
  <p-tabPanel header="Test on query images with pre-annotated Bounding box">
    <app-query-images [dataset]="dataset" *ngIf="tabIndex == 0" (newImageSelectionEvent)="onImageSelect($event)"></app-query-images>
  </p-tabPanel>
  <p-tabPanel header="Test on query images with custom/no bounding box">
    <app-query-images [dataset]="dataset" *ngIf="tabIndex == 1" [isBoundingBox]="true" (newImageSelectionEvent)="onImageSelect($event)"
     (newBoundingBoxEvent)="onBoundingBoxCreation($event)"></app-query-images>
  </p-tabPanel>
</p-tabView>
