<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container-fluid">
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/ml']">
              <img src="./assets/img/mandala.svg">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul *ngIf="displayHome" class="navbar-nav align-items-lg-center ml-lg-auto" style="display: contents;">
        <li class="nav-item d-none d-lg-block ml-lg-4">          
          <a [routerLink]="['/home']" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
            <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
            <span class="btn-inner--text">
              Model <span class="text-warning"> Page</span></span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4" style="margin-right: 30px;">          
          <a [routerLink]="['/user-profile']" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
            <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
            <span class="btn-inner--text">
              Team <span class="text-warning"> 26</span></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
