<section>
    <h3 class="h4 text-success font-weight-bold mb-5"
    >
      Select K Value (Top-K Results)
    </h3>
    <div class="container" style="padding-bottom: 200px">
      <div class="row" style="text-align: center">
        <div class="col-lg-10" style="margin: auto">
          <p-slider [(ngModel)]="kVal" [min]="1" [max]="100"></p-slider>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <input
              style="text-align: center; font-weight: 700; font-size: 20px"
              type="text"
              pInputText
              [(ngModel)]="kVal"
              readonly
              placeholder="Success"
              class="form-control form-control-alternative"
            />
          </div>
        </div>
      </div>
    </div>
  </section>