<main>
  <app-spinner [display]="display" (newDialogCloseEvent)="dialogClose(event$)"></app-spinner>
  <app-ml-description></app-ml-description>
  <app-model-selector (newModelSelectEvent)="onModelSelect($event)"></app-model-selector>
  <app-tabs-section></app-tabs-section>
  <app-dataset-selector  *ngIf="!!selectedModelName" (newDatasetSelectionEvent)="onDatasetSelect($event)"></app-dataset-selector>
  <app-query-selector *ngIf="!!selectedModelName && !!selectedDataset" (imageSelectionObjEvent)="onImageSelect($event)" 
  (newBoundingBoxEvent)="onBoundingBoxCreation($event)" (tabChangeEvent)="onTabChange($event)" [dataset]="dataset"></app-query-selector>
  <app-top-k-selector *ngIf="!!selectedModelName && !!selectedDataset && !!imageSelectionObj" (newKvalueSelectEvent)="onKSelect($event)"></app-top-k-selector>
  <div class="container" *ngIf="!!imageSelectionObj && !!selectedDataset && !!selectedkVal" style="padding-bottom: 200px">
    <div class="row">
      <div class="col-lg-12" style="text-align: center">
        <button class="btn btn-1 btn-outline-success" style="font-size: 32px" (click)="search()" type="button">
          Search
        </button>
      </div>
    </div>
  </div>
</main>