<!-- <app-buttons-section></app-buttons-section> -->
<app-inputs-section></app-inputs-section>
<app-crs-section></app-crs-section>
<section class="section section-components">
  <app-tabs-section></app-tabs-section>
  <app-alerts-section></app-alerts-section>
</section>
<section class="section section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
